*.class
*.env
.idea/
out/
*.map
web/ts/app.js
web/ts/app.js.map
app.js.map
node_modules/
web/package-lock.json
proxy-java/target/
web/node_modules
web/ts/app.js

config.properties

target/
rmi/rmi-restaurant/target/
web/ts/app.js

.vscode/